In [1]:
# Pandas allows us to analyze big data and make conclusions based on statistical theories.

# Pandas can clean messy data sets, and make them readable and relevant.

# Relevant data is very important in data science.

# how to store, use and analyze data for deriving information from it.

In [5]:
import pandas as pd
mydataset = {
    "car " : ["bmw","i10","i20","swift","verna","mustangGT","farari","lembarghini","fortunar","thar","KIA","creta"],
    "number":[1,2,3,4,5,6,7,8,9,10,11,12] 
}
myvar = pd.DataFrame(mydataset)
print(myvar)

           car   number
0           bmw       1
1           i10       2
2           i20       3
3         swift       4
4         verna       5
5     mustangGT       6
6        farari       7
7   lembarghini       8
8      fortunar       9
9          thar      10
10          KIA      11
11        creta      12

# series

In [9]:
# A Pandas Series is like a column in a table.

# It is a one-dimensional array holding data of any type.
a = [1,3,4,5,6,7,11]
myvar1 = pd.Series(a)
print(a)

[1, 3, 4, 5, 6, 7, 11]

In [12]:
myvar1[0]

1

In [17]:
myvar2 = pd.Series(a,index=['a','b','c','d','e','f','g'])
print(myvar2)

a     1
b     3
c     4
d     5
e     6
f     7
g    11
dtype: int64

In [18]:
myvar2['a']

1

In [20]:
myvar2['g']

11

In [21]:
mydataset = {
    "days" :["day1",'day2',"day3"],
    "calories" :[500,550,4220]
}
myvar4=pd.DataFrame(mydataset)

In [22]:
myvar4

   days  calories
0  day1       500
1  day2       550
2  day3      4220

In [23]:
print(myvar4)

   days  calories
0  day1       500
1  day2       550
2  day3      4220

In [28]:
mydataset = {"day1":450,"day2":550,"day3":500}
myvar5=pd.Series(mydataset,index=["day1","day2","day3"])
myvar5

day1    450
day2    550
day3    500
dtype: int64

In [30]:
myvar5["day2"]

550

In [32]:
print(myvar4.loc[0])    # for row and column refer to row index

days        day1
calories     500
Name: 0, dtype: object