In [2]:
# multiplicant table of given number 
a = int(input("enter number for multiplicant table"))
i = 1
while i<=10:
    print(str(a) + "*" + str(i) +"="+str(a*i))
    i = i+1

enter number for multiplicant table50
50*1=50
50*2=100
50*3=150
50*4=200
50*5=250
50*6=300
50*7=350
50*8=400
50*9=450
50*10=500

In [3]:
 #multiplicant table of given number 
a = int(input("enter number for multiplicant table"))
for i in range(0,10):
    print(str(a) +" " + str(i) +" "+ str(a*i))

enter number for multiplicant table2
2 0 0
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18

In [4]:
  #write a program to greet in list which name start for s latter
name =["sanket","raj","ravi","sanketk"]
for item in name:
    if item.startswith('s'):
        print("hello " + item + " good morning")

hello sanket good morning
hello sanketk good morning

In [6]:
# number is prime or not
prime = True
a = int(input("enter the number \n"))
for i in range(2,a):
    if(a%i==0):
        prime = False
    break
if prime:
    print("number is  prime")
else:
    print("number is not prime")

enter the number
46
number is not prime

In [15]:
# find the sum of n natural number
n = int(input("enter the number"))
sum =0
for i in range(1,n+1):
    sum = sum +i
print(sum)

enter the number50
1275

In [16]:
# factorial number using for loop
x=int(input("enter the number"))
fact = 1
for i in range(n+1,1):
    fact = fact*(n+1)
print(fact)

enter the number5
1

In [28]:
n=3
for i in range(3):
    print(" "*(n-i-1),end="")
    print("*"*(2*i+1),end="")
    print(" "*(n-i-1))

  *
 ***
*****

In [21]:
n=4
for i in range(4):
    print("*"*(i+1))

*
**
***
****

In [34]:
print("enter number for table")
x=int(input())
for i in range(10,0,-1):
    print(str(x)+"*"+str(i)+"="+str(x*i))

enter number for table
5
5*10=50
5*9=45
5*8=40
5*7=35
5*6=30
5*5=25
5*4=20
5*3=15
5*2=10
5*1=5