In [3]:
#list is order collection of an elements in closed within []
#list is mutable
list = [1,"sanket","urvish",33.14]
list.append("ravi")
list
list.insert(2,"raj")
list
list.pop(3)
list

[1, 'sanket', 'raj', 33.14, 'ravi']

In [4]:
list[0]

1

In [5]:
list[1:5]

['sanket', 'raj', 33.14, 'ravi']

In [8]:
list[0]  =  "akshay"
list

['akshay', 'sanket', 'raj', 33.14, 'ravi']

In [11]:
list1 = ["sanket","ravi","raj","rushil","kartik","dhruv","yash"]
list1.sort()        #when list is contain same datatype of all elemetns
list1

['dhruv', 'kartik', 'raj', 'ravi', 'rushil', 'sanket', 'yash']

In [14]:
list *5 + list1

['akshay',
 'raj',
 'sanket',
 33.14,
 'ravi',
 'akshay',
 'raj',
 'sanket',
 33.14,
 'ravi',
 'akshay',
 'raj',
 'sanket',
 33.14,
 'ravi',
 'akshay',
 'raj',
 'sanket',
 33.14,
 'ravi',
 'akshay',
 'raj',
 'sanket',
 33.14,
 'ravi',
 'dhruv',
 'kartik',
 'raj',
 'ravi',
 'rushil',
 'sanket',
 'yash']

In [16]:
#write python program to enter seven fruit name in tuple ented by the user.
l1 = []
print("enter fruit name")
f1 = input()
f2 = input()
f3 = input()
f4 = input()
f5 = input()
f6 = input()
f7 = input()
l1.append(f1)
l1.append(f2)
l1.append(f3)
l1.append(f4)
l1.append(f5)
l1.append(f6)
l1.append(f7)
print(l1)

enter fruit name
apple
banana
orange
pineapple
watermalonw
kivi
olive
['apple', 'banana', 'orange', 'pineapple', 'watermalonw', 'kivi', 'olive']

In [21]:
# write a program to a sum a list with 4
list1 = [12,23,45,56,87,98,45]
list1[0] = list1[0]+4
list1[1] = list1[1]+4
list1[2] = list1[2]+4
list1[3] = list1[3]+4
list1[4] = list1[4]+4
list1[5] = list1[5]+4
list1[6] = list1[6]+4
print(list1)

[16, 27, 49, 60, 91, 102, 49]