In [6]:
import pandas as pd
import numpy as np
dates = pd.to_datetime("27th of march, 2023")
i = dates + pd.to_timedelta(np.arange(5),unit = 'D')
d = [50,36,8,99,5]
time_series = pd.Series(data =d , index = i)
print(time_series)

2023-03-27    50
2023-03-28    36
2023-03-29     8
2023-03-30    99
2023-03-31     5
dtype: int64

In [7]:
import numpy as np
import pandas as pd
name = ["name" , "add","university","city"]
student = ["sanket","surat","gtu","surat,gujarat"]
data = pd.Series(student , index = name)
print(data)

name                 sanket
add                   surat
university              gtu
city          surat,gujarat
dtype: object